frontend/node_modules/*
frontend/dist/*
frontend/build/*
frontend/public/index.html
frontend/public/vite.svg
frontend/public/favicon.ico
frontend/public/robots.txt
frontend/public/manifest.json
frontend/public/registerServiceWorker.js
frontend/public/reportWebVitals.js
frontend/public/setupTests.js
frontend/public/src/index.css
cursor_project_rules/*
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/*

